@font-face {
  font-family: 'AvenirNextCyr-Light';
  src: url('AvenirNextCyr-Light.eot');
  src: url('AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
       url('AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg'),
       url('AvenirNextCyr-Light.ttf') format('truetype'),
       url('AvenirNextCyr-Light.woff') format('woff'),
       url('AvenirNextCyr-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

