<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
<script src="js/glDatePicker.min.js"></script>
<script src="js/select.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.mmenu.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/bvi/responsivevoice.js"></script>
<script src="js/bvi/js.cookie.js"></script>
<script src="js/bvi/bvi-init.js"></script>
<script src="js/bvi/bvi.js"></script>
<script src="js/main.js"></script>
</body>
</html>

