@@include('../layout/bread.html')
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-18">
                <h1 class="mb-4">h1. Программа Стандарт</h1>
                <h3 class="mb-4">h3. от 3 100 c/сутки</h3>
                <p>
                    Спортивно-оздоровительная база: физкультурно-оздоровительный центр, включающий: плавательный бассейн
                    24х12м, тренажерный зал, спортивный зал (для игры в волейбол, баскетбол, большой теннис),
                    гидротермальный комплекс состоящий из трех саун, душа Шарко, циркулярного душа, восходящего душа.
                </p>
                <h3 class="mt-4 mb-4">
                    Маркерованный
                </h3>
                <ul>
                    <li>система пожарной безопасности</li>
                    <li>беспроводной интернет</li>
                    <li>ежедневная уборка</li>
                    <li>смена белья 1 раз в 5 дне1 или по просьбе гостя</li>
                </ul>
                <h3 class="mt-4 mb-4">
                    Нумерованный
                </h3>
                <ol>
                    <li>система пожарной безопасности</li>
                    <li>беспроводной интернет</li>
                    <li>ежедневная уборка</li>
                    <li>смена белья 1 раз в 5 дне1 или по просьбе гостя</li>
                </ol>
            </div>
            <div class="col-lg-6 hidden-md-down">
                <div class="sidebar">
                    <div class="sidebar-title">Сервисная служба  санатория:</div>
                    <div class="sidebar-description">служба заказа жд/авиа билетов,  сувенирный киоск, газетный киоск.</div>
                </div>
                <div class="booking-item mt-5 booking-item__sidebar">
                    <div class="booking-item__pic" style="background-image: url('images/booking.jpg')"></div>
                    <div class="booking-item__content">
                        <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                        <div class="booking-item__price">от 2 385 ₽/сутки</div>
                    </div>
                    <div class="booking-item__hidden">
                        <a href="#" class="booking-item__link">Подробнее</a>
                        <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                    </div>
                </div>
            </div>
            <div class="col-24 mt-5">
               <div class="w-70">
                   <img src="images/img.jpg" alt="">
               </div>
                <p>Основной лечебный профиль: заболевания сердечно-сосудистой системы (ишемическая болезнь сердца, гипертоническая болезнь, нейроциркуляторная дистония, ревматические пороки сердца, сосудистые заболевания нижних конечностей); болезни органов дыхания нетуберкулезного характера (бронхиальная астма, хронический бронхит и другие неспецифические заболевания легких).

                    Спортивно-оздоровительная база:  физкультурно-оздоровительный центр, включающий: плавательный бассейн 24х12м, тренажерный зал, спортивный зал (для игры в волейбол, баскетбол, большой теннис), гидротермальный комплекс состоящий из трех саун, душа Шарко, циркулярного душа, восходящего душа.

                    Сервисная служба санатория: служба заказа жд/авиа билетов,  сувенирный киоск, газетный киоск.

                    Климатические характеристики курорта Кисловодск.


                    Город Кисловодск – всемирно известный низкогорный климатический и бальнеологический курорт. Расположен в том же климатическом поясе Европы, что и Южный берег Крыма, Северная Италия, Южная Франция. Близость Главного Кавказского хребта, расположение курорта на высоте 850 метров над уровнем моря, создают ему особые условия для отдыха и лечения – обилие ясных солнечных дней, чистота горного воздуха, отсутствие затяжного ненастья, сильных морозов зимой и сильной жары летом.

                    Климат умеренный. Лето теплое, продолжительное (в июле средняя температура составляет +19 – +20оС), зима умеренно мягкая (в январе –4оС), весна ранняя, короткая. В Кисловодске в течение всего календарного года бывает только около 36 дней без солнца. Когда бы Вы ни посетили наш город – в летний период или в рождественские праздники – Вы всегда найдете его необычайно прекрасным!

                    Любое копирование информации с данного сайта возможно, исключительно после письменного согласия начальника санатория!</p>
            </div>
            <div class="col-lg-12 mt-4">
                <div class="footnote">
                    Полное название: Филиал "Санаторий "Кисловодский" Федерального Государственного Бюджетного учреждения "Санаторно-курортный комплекс "Северокавказский" Министерства обороны Российской Федерации.
                </div>
            </div>
            <div class="col-lg-8 mt-4">
                <div class="announcement">
                    <div class="announcement-title">Важно!</div>
                    <div class="announcement-description">Любое копирование информации
                        с данного сайта возможно,
                        исключительно после письменного
                        согласия начальника санатория!</div>
                    <div class="index-star_1"></div>
                    <div class="index-star_2"></div>
                    <div class="index-star_3"></div>
                </div>
            </div>
        </div>
    </div>
</div>