<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Бронирование</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Отличается начало страницы main-container из за цвета фона -->
<div class="main-container main-container__booking">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <h1 class="text-center">Бронирование льготной путевки</h1>
                <div class="booking-top">
                    <div class="booking-top__title">
                        Уважаемые гости!
                    </div>
                    <div class="booking-top__description">
                        Вам предлагается отправить заявку на приобретение путевки в наш санаторий, <br> заполнив форму,
                        указанную ниже.
                    </div>
                </div>
                <form action="#" class="form-booking">
                    <div class="booking-container">
                        <h3>Личные данные</h3>
                        <div class="booking-items">
                            <div class="booking-item">
                                <input type="text" placeholder="Фамилия" class="booking-item__input">
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="Имя" class="booking-item__input">
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="Отчество" class="booking-item__input">
                            </div>
                            <div class="booking-item booking-item__radio-container">
                                <div class="booking-item__label">Пол:</div>
                                <div class="booking-item__radio">
                                    <div class="booking-item__radio-check">
                                        <input type="radio" id="gender-1" name="gender">
                                        <span class="booking-item__radio-icon icon-mans"></span>
                                    </div>
                                    <label for="gender-1" class="booking-item__radio-label">мужской</label>
                                </div>
                                <div class="booking-item__radio">
                                    <div class="booking-item__radio-check">
                                        <input type="radio" id="gender-2" name="gender" checked>
                                        <span class="booking-item__radio-icon icon-womans"></span>
                                    </div>
                                    <label for="gender-2" class="booking-item__radio-label">женский</label>
                                </div>
                            </div>
                            <div class="booking-item">
                                <input type="tel" placeholder="Дата рождения" class="booking-item__input data">
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="СНИЛС" class="booking-item__input">
                            </div>
                            <div class="booking-item">
                                <select class="select-container select-container__booking">
                                    <option value="1">Ваш статус</option>
                                    <option value="2">Женат</option>
                                    <option value="3">Холост</option>
                                    <option value="4">Кто то еще</option>
                                </select>
                            </div>
                            <div class="booking-item">
                                <select class="select-container select-container__booking">
                                    <option value="1">Звание</option>
                                    <option value="2">Полковник</option>
                                    <option value="3">Генерал</option>
                                    <option value="4">Майор</option>
                                </select>
                            </div>
                            <div class="booking-item">
                                <select class="select-container select-container__booking">
                                    <option value="1">Преимущественное право (если есть)</option>
                                    <option value="2">Конечно есть</option>
                                    <option value="3">Это что?</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="booking-container">
                        <h3>Данные о датах заезда</h3>
                        <div class="booking-container__data">
                            <div class="booking-item__date">
                                <div class="header-data" id="date-container">
                                    <input type="text" placeholder="Заезд" id="date_1" class="cost-form__item-name data"
                                           autocomplete="off">
                                </div>
                                <div class="arrow-form">
                                    <span class="icon-two_Arrow_941551"></span>
                                </div>
                                <div class="header-data" id="date-container__2">
                                    <input type="text" placeholder="Выезд" id="date_2" class="cost-form__item-name data"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="booking-info">
                                <span class="icon-info"></span>
                                <a href="#">
                                    Перед подачей заявки внимательно <br>
                                    ознакомьтесь с правилами приема заявлений <br>
                                    на санаторно-курортное лечение
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="booking-container">
                        <div class="booking-container__title">
                            <h3>Адрес регистрации</h3>
                            <div class="booking-check">
                                <div class="booking-check__item">
                                    <input type="checkbox" id="check-1" class="check-add" checked>
                                    <span class="check-element">

                                    </span>
                                </div>
                                <label for="check-1" class="booking-check__label">
                                    Выслать уведомление на указанный адрес
                                </label>
                            </div>
                        </div>
                        <div class="booking-items__check">
                            <div class="booking-items">
                                <div class="booking-item">
                                    <input type="text" placeholder="Индекс" class="booking-item__input">
                                </div>
                                <div class="booking-item">
                                    <input type="text" placeholder="Область" class="booking-item__input">
                                </div>
                                <div class="booking-item">
                                    <input type="text" placeholder="Город" class="booking-item__input">
                                </div>
                                <div class="booking-item">
                                    <input type="text" placeholder="Улица" class="booking-item__input">
                                </div>
                                <div class="booking-item booking-item__mini">
                                    <input type="text" placeholder="Дом" class="booking-item__input">
                                </div>
                                <div class="booking-item booking-item__mini">
                                    <input type="text" placeholder="Корпус" class="booking-item__input">
                                </div>
                                <div class="booking-item booking-item__mini">
                                    <input type="text" placeholder="Квартира" class="booking-item__input">
                                </div>
                            </div>
                        </div>
                        <h3 class="mt-5 pt-lg-2">Адрес уведомления</h3>
                        <div class="booking-items">
                            <div class="booking-item">
                                <input type="text" placeholder="Индекс" class="booking-item__input">
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="Область" class="booking-item__input">
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="Город" class="booking-item__input">
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="Улица" class="booking-item__input">
                            </div>
                            <div class="booking-item booking-item__mini">
                                <input type="text" placeholder="Дом" class="booking-item__input">
                            </div>
                            <div class="booking-item booking-item__mini">
                                <input type="text" placeholder="Корпус" class="booking-item__input">
                            </div>
                            <div class="booking-item booking-item__mini">
                                <input type="text" placeholder="Квартира" class="booking-item__input">
                            </div>
                        </div>
                    </div>
                    <div class="booking-container">
                        <h3>Сведения о справке для получения путевки (форма 070 у)</h3>
                        <p class="fs-16 mt-1 mb-3">
                            Код заболевания по МКБ заполняется латинскими буквами. Справка для получения
                            санаторно-курортной путевки
                            должна быть по установленной форме 070/у со сроком действия 12 месяцев, в соответствии с
                            приказом Минздрава России
                            от 15 декабря 2014г. № 8
                        </p>
                        <div class="booking-items">
                            <div class="booking-item">
                                <input type="text" placeholder="Номер справки" class="booking-item__input">
                            </div>
                            <div class="booking-item booking-item__error">
                                <input type="text" placeholder="Код заболевания по МКБ" class="booking-item__input">
                                <span class="error">
                                    Код заболевания по МКБ (пункт 15 справки 070/у)
                                    заполняется латинскими буквами в формате х00.00
                                </span>
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="Город" class="booking-item__input">
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="Кем выдана справка" class="booking-item__input">
                            </div>
                            <div class="booking-item">
                                <input type="text" placeholder="Дата выдачи" class="booking-item__input">
                            </div>
                        </div>
                        <div class="booking-file">
                            <div class="booking-file__left">
                                <div class="booking-file__container">
                                    <input type="file">
                                    <div class="booking-file__container-text btn btn-light">Загрузить файл</div>
                                </div>
                                <div class="booking-file__format">
                                    Файл справки (Скан или фото jpg,
                                    pdf, tiff, png. Размер не более 2 Мб)
                                </div>
                            </div>
                            <div class="booking-file__right">
                                <div class="booking-file__right-top">
                                    <div class="booking-file__name">
                                        Справка Иванова И И.jpg
                                    </div>
                                    <div class="booking-file__status">
                                        <div class="booking-file__status-progress" style="width: 17%"></div>
                                        <div class="booking-file__status-number">17%</div>
                                    </div>
                                    <a href="#" class="booking-file__delete">
                                        <img src="images/delete.png" alt="">
                                        <span>Удалить</span>
                                    </a>
                                </div>
                                <div class="booking-file__error">
                                    Формат не поддерживается. Файл больше 2 Мб.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div class="btn btn-link card-header__link" data-toggle="collapse"
                                     data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Данные супруги/супруга в случае совместного отдыха
                                    <div class="collapse-icon"></div>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="booking-items">
                                        <div class="booking-item">
                                            <input type="text" placeholder="Фамилия" class="booking-item__input">
                                        </div>
                                        <div class="booking-item">
                                            <input type="text" placeholder="Имя" class="booking-item__input">
                                        </div>
                                        <div class="booking-item">
                                            <input type="text" placeholder="Отчество" class="booking-item__input">
                                        </div>
                                        <div class="booking-item booking-item__radio-container">
                                            <div class="booking-item__label">Пол:</div>
                                            <div class="booking-item__radio">
                                                <div class="booking-item__radio-check">
                                                    <input type="radio" id="gender-3" name="gender">
                                                    <span class="booking-item__radio-icon icon-mans"></span>
                                                </div>
                                                <label for="gender-3" class="booking-item__radio-label">мужской</label>
                                            </div>
                                            <div class="booking-item__radio">
                                                <div class="booking-item__radio-check">
                                                    <input type="radio" id="gender-4" name="gender" checked>
                                                    <span class="booking-item__radio-icon icon-womans"></span>
                                                </div>
                                                <label for="gender-4" class="booking-item__radio-label">женский</label>
                                            </div>
                                        </div>
                                        <div class="booking-item">
                                            <input type="tel" placeholder="Дата рождения"
                                                   class="booking-item__input data">
                                        </div>
                                        <div class="booking-item">
                                            <input type="text" placeholder="СНИЛС" class="booking-item__input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <div class="btn btn-link card-header__link collapsed" data-toggle="collapse"
                                     data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Дети
                                    <div class="collapse-icon"></div>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="booking-items">
                                            <div class="booking-item">
                                                <input type="text" placeholder="Фамилия" class="booking-item__input">
                                            </div>
                                            <div class="booking-item">
                                                <input type="text" placeholder="Имя" class="booking-item__input">
                                            </div>
                                            <div class="booking-item">
                                                <input type="text" placeholder="Отчество" class="booking-item__input">
                                            </div>
                                            <div class="booking-item booking-item__radio-container">
                                                <div class="booking-item__label">Пол:</div>
                                                <div class="booking-item__radio">
                                                    <div class="booking-item__radio-check">
                                                        <input type="radio" id="gender-5" name="gender">
                                                        <span class="booking-item__radio-icon icon-mans"></span>
                                                    </div>
                                                    <label for="gender-5" class="booking-item__radio-label">мужской</label>
                                                </div>
                                                <div class="booking-item__radio">
                                                    <div class="booking-item__radio-check">
                                                        <input type="radio" id="gender-6" name="gender" checked>
                                                        <span class="booking-item__radio-icon icon-womans"></span>
                                                    </div>
                                                    <label for="gender-6" class="booking-item__radio-label">женский</label>
                                                </div>
                                            </div>
                                            <div class="booking-item">
                                                <input type="tel" placeholder="Дата рождения"
                                                       class="booking-item__input data">
                                            </div>
                                            <div class="booking-item">
                                                <input type="text" placeholder="СНИЛС" class="booking-item__input">
                                            </div>
                                            <div class="booking-item">
                                                <select class="select-container select-container__booking">
                                                    <option value="1">Ваш статус</option>
                                                    <option value="2">Женат</option>
                                                    <option value="3">Холост</option>
                                                    <option value="4">Кто то еще</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="booking-items__hidden">
                                            <div class="booking-items__title">
                                                Ребенок 2
                                            </div>
                                            <div class="booking-items">
                                                <div class="booking-item">
                                                    <input type="text" placeholder="Фамилия" class="booking-item__input">
                                                </div>
                                                <div class="booking-item">
                                                    <input type="text" placeholder="Имя" class="booking-item__input">
                                                </div>
                                                <div class="booking-item">
                                                    <input type="text" placeholder="Отчество" class="booking-item__input">
                                                </div>
                                                <div class="booking-item booking-item__radio-container">
                                                    <div class="booking-item__label">Пол:</div>
                                                    <div class="booking-item__radio">
                                                        <div class="booking-item__radio-check">
                                                            <input type="radio" id="gender-8" name="gender">
                                                            <span class="booking-item__radio-icon icon-mans"></span>
                                                        </div>
                                                        <label for="gender-8" class="booking-item__radio-label">мужской</label>
                                                    </div>
                                                    <div class="booking-item__radio">
                                                        <div class="booking-item__radio-check">
                                                            <input type="radio" id="gender-7" name="gender" checked>
                                                            <span class="booking-item__radio-icon icon-womans"></span>
                                                        </div>
                                                        <label for="gender-7" class="booking-item__radio-label">женский</label>
                                                    </div>
                                                </div>
                                                <div class="booking-item">
                                                    <input type="tel" placeholder="Дата рождения"
                                                           class="booking-item__input data">
                                                </div>
                                                <div class="booking-item">
                                                    <input type="text" placeholder="СНИЛС" class="booking-item__input">
                                                </div>
                                                <div class="booking-item">
                                                    <select class="select-container select-container__booking">
                                                        <option value="1">Ваш статус</option>
                                                        <option value="2">Женат</option>
                                                        <option value="3">Холост</option>
                                                        <option value="4">Кто то еще</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="booking-items__title">
                                                Ребенок 3
                                            </div>
                                            <div class="booking-items">
                                                <div class="booking-item">
                                                    <input type="text" placeholder="Фамилия" class="booking-item__input">
                                                </div>
                                                <div class="booking-item">
                                                    <input type="text" placeholder="Имя" class="booking-item__input">
                                                </div>
                                                <div class="booking-item">
                                                    <input type="text" placeholder="Отчество" class="booking-item__input">
                                                </div>
                                                <div class="booking-item booking-item__radio-container">
                                                    <div class="booking-item__label">Пол:</div>
                                                    <div class="booking-item__radio">
                                                        <div class="booking-item__radio-check">
                                                            <input type="radio" id="gender-18" name="gender">
                                                            <span class="booking-item__radio-icon icon-mans"></span>
                                                        </div>
                                                        <label for="gender-18" class="booking-item__radio-label">мужской</label>
                                                    </div>
                                                    <div class="booking-item__radio">
                                                        <div class="booking-item__radio-check">
                                                            <input type="radio" id="gender-17" name="gender" checked>
                                                            <span class="booking-item__radio-icon icon-womans"></span>
                                                        </div>
                                                        <label for="gender-17" class="booking-item__radio-label">женский</label>
                                                    </div>
                                                </div>
                                                <div class="booking-item">
                                                    <input type="tel" placeholder="Дата рождения"
                                                           class="booking-item__input data">
                                                </div>
                                                <div class="booking-item">
                                                    <input type="text" placeholder="СНИЛС" class="booking-item__input">
                                                </div>
                                                <div class="booking-item">
                                                    <select class="select-container select-container__booking">
                                                        <option value="1">Ваш статус</option>
                                                        <option value="2">Женат</option>
                                                        <option value="3">Холост</option>
                                                        <option value="4">Кто то еще</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="booking-items__btn btn btn-heavy">
                                            Добавить детей
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="booking-container booking-container__text">
                        <h3>Внесите комментарии, пожелания, дополнения, если необходимо</h3>
                        <textarea class="booking-textarea" placeholder="Комментарий"></textarea>
                    </div>
                    <div class="booking-agreement">
                        <div class="booking-check">
                            <div class="booking-check__item">
                                <input type="checkbox" checked>
                                <span class="check-element">

                                    </span>
                            </div>
                            <div class="booking-check__label booking-agreement__text">
                                Я и заявленные члены моей семьи (в том числе лица, находящиеся на иждивении) в текущем
                                году не пользовались санаторно-курортным лечением и оздоровительным отдыхом в
                                санаториях, домах отдыха, центрах активного отдыха (туристических базах) Министерства
                                обороны, в том числе не выезжали за границу на отдых и лечение по взаимному обмену и не
                                совершали туристических поездок по льготной оплате стоимости. Противопоказаний для
                                нахождения в СКО не имеем.
                                <br><br>
                                Я и заявленные члены моей семьи (в том числе лица, находящиеся на иждивении) согласны на
                                обработку и использование уполномоченным органом (организацией) Министерства обороны
                                Российской Федерации представленных персональных данных в целях принятия решения о
                                предоставлении мне и членам моей семьи путевки (путевок).
                                <br><br>
                                Нажимая кнопу "Забронировать” в соответствии с федеральным законом от 27 июля 2006г.
                                №152-Ф3 "о персональных данных" даю согласие на обработку указанных моих личных
                                персональных данных с целью осуществления бронирования.
                                <br><br>
                                Подтверждаю, что с правилами внутреннего распорядка ознакомлен.
                            </div>
                        </div>
                    </div>
                    <div class="booking-submit">
                        <input type="submit" value="Забронировть" class="btn btn-heavy">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>