<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Филиалы</li>
                    </ol>
                </nav>
                <div class="h1">Филиалы</div>
            </div>
        </div>
    </div>
</div>
<!-- Отличается начало страницы main-container из за ширины контентной части -->
<div class="main-container main-container__branches">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="branches-item" style="background-image: url('images/branches-1.jpg')">
                    <a href="#" class="branches-item__title">
                        Филиал Кисловодский
                    </a>
                    <nav class="branches-menu">
                        <ul class="branches-menu__items">
                            <li class="branches-menu__item">
                                <a href="#" class="branches-menu__link">О санатории</a>
                            </li>
                            <li class="branches-menu__item">
                                <a href="#" class="branches-menu__link">Лечение</a>
                            </li>
                            <li class="branches-menu__item">
                                <a href="#" class="branches-menu__link">Проживание</a>
                            </li>
                            <li class="branches-menu__item">
                                <a href="#" class="branches-menu__link">Цены</a>
                            </li>
                            <li class="branches-menu__item">
                                <a href="#" class="branches-menu__link">Контакты</a>
                            </li>
                        </ul>
                        <div class="index-star_4"></div>
                        <div class="index-star_5"></div>
                    </nav>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="branches-item" style="background-image: url('images/branches-2.jpg')">
                    <a href="#" class="branches-item__title">
                        Филиал Пятигорский
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="branches-item" style="background-image: url('images/branches-3.jpg')">
                    <a href="#" class="branches-item__title">
                        Филиал Ессентукский
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="branches-item" style="background-image: url('images/branches-4.jpg')">
                    <a href="#" class="branches-item__title">
                        Филиал Пятигорский детский
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
