<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Номера</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <h1 class="hidden-md-down">Двухместный однокомнатный номер (стандарт)</h1>
            </div>
        </div>
        <div class="row mt-lg-5 align-items-center">
            <div class="col-lg-16 pr-lg-0">
                <div class="number-slider">
                    <a href="images/number.jpg" data-fancybox="images">
                        <img src="images/number.jpg" alt="">
                    </a>
                    <a href="images/number.jpg" data-fancybox="images">
                        <img src="images/number.jpg" alt="">
                    </a>
                    <a href="images/number.jpg" data-fancybox="images">
                        <img src="images/number.jpg" alt="">
                    </a>
                    <a href="images/number.jpg" data-fancybox="images">
                        <img src="images/number.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 pl-lg-0">
                <div class="number-content">
                    <div class="number-content__top">
                        <div class="number-title__mobile">
                            Двухместный однокомнатный номер (стандарт)
                        </div>
                        <div class="numbers-price">от 2 300 ₽/сутки</div>
                        <div class="number-flex">
                            <a href="#" class="btn btn-heavy">Забронировать путевку</a>
                            <a href="#" class="numbers-link">Смотреть детали</a>
                        </div>
                    </div>
                    <div class="number-description">
                        Светлый и комфортный номер. Небольшой по площади, но вмещающий всё необходимое: две кровати (90*200 см.), прикроватные тумбочки, стол со встроенным холодильником, зеркало
                        и телевизор. В санузле душ. В номере есть балкон.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-lg-5">
            <div class="col-lg-6">
                <div class="number-info">
                    <div class="number-info__top">
                        <div class="number-info__time">
                            <div class="number-info__time-title">Время заезда</div>
                            <div class="number-info__time-description">14:00</div>
                        </div>
                        <div class="number-info__time">
                            <div class="number-info__time-title">Время выезда </div>
                            <div class="number-info__time-description">12:00</div>
                        </div>
                    </div>
                    <div class="number-info__pay">
                        <div class="number-info__time-title">Оплата </div>
                        <div class="number-info__time-description">наличный и безналичный рассчет</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-18">
                <div class="number-facilities">
                    <div class="number-facilities__column">
                        <h5 class="mb-4">Услуги и безопасность</h5>
                        <ul>
                            <li>система пожарной
                                безопасности</li>
                            <li>беспроводной интернет</li>
                            <li>ежедневная уборка</li>
                            <li>смена белья 1 раз в 5 дне1
                                или по просьбе гостя</li>
                        </ul>
                    </div>
                    <div class="number-facilities__column">
                        <h5 class="mb-4">Комната</h5>
                        <ul>
                            <li>телевизор</li>
                            <li>телефон</li>
                            <li>кровати (90х200)</li>
                            <li>зеркало</li>
                            <li> прикроватные тумбочки</li>
                            <li>бар/настльные лампы</li>
                            <li>стол с 2-мя стульями</li>
                        </ul>
                    </div>
                    <div class="number-facilities__column">
                        <h5 class="mb-4">Санузел</h5>
                        <ul>
                            <li>туалет </li>
                            <li>душ</li>
                            <li> кровати (90х200)</li>
                            <li>зеркало</li>
                            <li> прикроватные тумбочки</li>
                            <li>бар/настльные лампы</li>
                            <li>стол с 2-мя стульями</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-number">
            <div class="row mt-lg-5 pt-lg-5 mt-4">
                <div class="col-24">
                    <h3 class="text-center mb-4 pb-lg-3">Другие номера</h3>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style="background-image: url('images/booking.jpg')"></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style="background-image: url('images/booking.jpg')"></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4 pb-lg-2 col-md-12">
                    <div class="booking-item">
                        <div class="booking-item__pic" style="background-image: url('images/booking.jpg')"></div>
                        <div class="booking-item__content">
                            <div class="booking-item__title">Одноместный  однокомнатный номер</div>
                            <div class="booking-item__price">от 2 385 ₽/сутки</div>
                        </div>
                        <div class="booking-item__hidden">
                            <a href="#" class="booking-item__link">Подробнее</a>
                            <a href="" class="booking-item__btn btn btn-heavy">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>