<div class="bread">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Форма отзыва</li>
                    </ol>
                </nav>
                <div class="h1">Форма отзыва</div>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <form action="#" class="contact-form reviews-form">
                    <div class="contact-form__title">Остались вопросы? Напишите нам.</div>
                    <p>
                        Благодарим, что вы выбрали наш санаторий. Надеемся, вы отлично отдохнули и оздоровились. Пожалуйста, поделитесь своими впечатлениями с теми, кто выбирает санаторий.
                    </p>
                    <div class="contact-form__flex">
                        <div class="contact-form__item contact-form__item-error">
                            <input type="text" class="contact-form__input" placeholder="Имя">
                            <span class="error">
                                    Код заболевания по МКБ (пункт 15 справки 070/у)
                                    заполняется латинскими буквами в формате х00.00
                                </span>
                        </div>
                        <div class="contact-form__item">
                            <input type="tel" class="contact-form__input phone" placeholder="Телефон">
                        </div>
                    </div>
                    <div class="contact-form__flex">
                        <textarea class="contact-form__textarea" placeholder="Ваш вопрос"></textarea>
                    </div>
                    <div class="contact-form__bottom">
                        <div class="form-rating">
                            <div class="form-rating__label">
                                Ваша оценка
                            </div>
                            <div class="form-rating__star rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>

                            </div>
                        </div>
                        <div class="form-download">
                            <input type="file" multiple>
                            <div class="form-download__container">
                                <img src="images/photo.png" alt="">
                                <div class="form-download__text">
                                    <div class="form-download__title">Прикрепить фото</div>
                                    <div class="form-download__description">Прикрепите к отзыву до 4 фото</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form__btn">
                        <div class="contact-form__sbm">
                            <input type="submit" class="contact-form__submit btn btn-light" value="Отправить">
                        </div>
                        <div class="check">
                            <div class="check-container">
                                <input type="checkbox" id="checks">
                                <span></span>
                            </div>
                            <label for="checks">Даю своё согласие на <br> обработку персональных <br> данных</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>