.btn{
  transition: .25s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  height: 45px;
  cursor: pointer;
}

.btn-light{
  background-color: $color-4;
  color: black;
  &:hover{
    background-color: $color-5;
  }
}

.btn-heavy{
 color: white;
  background-color: $color-3;
  &:hover{
    background-color: $color-6;
    color: white;
  }
}

.header-btn{
  font-size: 11px;
  margin-left: 16px;
  height: 55px;
}

.btn-booking{
  width: 190px;
}

.btn-booking__price{
  width: 210px;
}

