.close {
  float: right;
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  line-height: 1;
  color: $gray;
  opacity: .5;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// scss-lint:disable QualifyingElement
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
// scss-lint:enable QualifyingElement
