.main-container__booking {
  background-color: $color-21;
  margin-top: 0 !important;
  padding-top: 45px;
  margin-bottom: -68px;
  padding-bottom: 68px;
}

.booking-top {
  text-align: center;
  margin: 37px 0;
}

.booking-top__title {
  font-size: 18px;
  line-height: 28px;
  color: $color-3;
  font-weight: 700;
}

.booking-top__description {
  line-height: 28px;
  font-size: 18px;
}

.booking-container {
  background-color: white;
  border: 1.5px dotted $color-3;
  border-radius: 14px;
  padding: 49px 58px;
  h3 {
    padding-bottom: 12px;
  }
}

.booking-items {
  display: flex;
  flex-flow: row wrap;
  .booking-item {
    flex-basis: 32.5%;
    margin-top: 21px;
    margin-right: 1.2%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.booking-items__check{
  display: none;
}

.booking-item__input {
  height: 55px;
  background-color: $color-22;
  border-radius: 5px;
  padding: 5px 17px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-family: 'AvenirNextCyr';
  &::placeholder {
    color: #666;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
  }
}

.booking-item__radio-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  &:hover {
    box-shadow: none !important;
  }
}

.booking-item__label {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-right: 16px;
  cursor: pointer;
}

.booking-item__radio-label{
  cursor: pointer;
}

.booking-item__radio {
  display: flex;
  align-items: center;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    .booking-item__radio-label {
      font-weight: 700;
      color: $color-7;
    }
  }
}

.booking-item__radio-icon{
  font-size: 2rem;
  color: $color-3;
}

.booking-items__btn{
  margin-top: 21px;
  max-width: 32.5%;
}

.booking-items__title{
  font-weight: 700;
  color: $color-7;
  font-size: 16px;
  margin-top: 20px;
}

.booking-items__hidden{
  display: none;
}

.booking-item__radio-check {
  position: relative;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    &:checked{
      & + .icon-womans{
        &:before{
          content: '\e933';
        }
      }
      & +.icon-mans{
        &:before{
          content: '\e931';
        }
      }
    }
  }
}

.icon-mans{
  &:before{
    content: '\e932';
    font-family: 'icomoon';
  }
}

.icon-womans{
  &:before{
    content: '\e935';
    font-family: 'icomoon';
  }
}

.select-container__booking {
  width: 100% !important;
  & + .select2-container {
    width: 100% !important;
    .select2-selection__rendered {
      padding: 0 25px 0 17px !important;
    }
  }
  option {
    &:first-child {
      display: none;
    }
  }
}

.booking-item__date {
  margin-top: 21px;
  display: flex;
  align-items: center;
  input {
   z-index: 1;
    border-radius: 5px;
    background-color: transparent;
  }
  .header-data {
    width: 230px;
    background-color: $color-22;
  }
}

.booking-info {
  margin-top: 21px;
  display: flex;
  align-items: flex-start;
  margin-left: 98px;
  a {
    margin-left: 15px;
    color: $color-2;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    line-height: 22px;
    &:hover{
      text-decoration: none;
    }
  }
}

.booking-container__data {
  display: flex;
  align-items: center;
}

.booking-container__title {
  display: flex;
  align-items: center;
}

.booking-check {
  display: flex;
  align-items: flex-start;
  margin-left: 34px;
}

.booking-check__item {
  position: relative;
  flex-shrink: 0;
  margin-right: 12px;
  width: 25px;
  height: 25px;
  border: 1px solid $color-3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    &:checked {
      & + span {
        opacity: 1;
      }
    }
  }
  span {
    display: flex;
    align-items: flex-start;
    opacity: 0;
  }
}

.check-element{
  &:before{
    content: '\e92f';
    font-family: 'icomoon';
    color: $color-3;
  }
}

.bookink-check__label {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 13px;
}

.booking-item__mini {
  flex-basis: 12% !important;
  margin-right: 1.2% !important;
}

.error {
  display: none;
}

.booking-item__error {
  position: relative;
  border-radius: 5px;
  overflow: visible !important;
  .error {
    display: block;
    position: absolute;
    bottom: 110%;
    background-color: #f24841;
    border-radius: 5px 5px 5px 0;
    box-shadow: 0.3px 2px 3.9px 0.1px rgba(231, 55, 55, 0.2);
    z-index: 2;
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    width: 96%;
    left: 2%;
    &:before{
      content: '';
      border: 5px solid transparent;
      border-left: 5px solid #f24841;
      border-top: 5px solid #f24841;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }
  .booking-item__input {
    border: 1px solid #f24841;
    background-color: white;
    box-shadow: 0.3px 2px 3.9px 0.1px rgba(231, 55, 55, 0.2);
  }
}

.booking-file{
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
}

.booking-file__left{
  flex-basis: 46%;
  border: 1.5px dotted $color-23;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-file__container{
  position: relative;
  flex-basis: 45%;
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    &:hover{
      & + .btn-light{
        background-color: #d0e6e9;
      }
    }
  }
}

.booking-file__container-text{
  color: $color-3;
}

.booking-file__format{
  color: #666;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  flex-basis: 49%;
}

.booking-file__right{
  flex-basis: 45%;
  margin-right: 5%;
}

.booking-file__right-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-25;
  padding-bottom: 15px;
  margin-bottom: 15px ;
}

.booking-file__name{
  flex-basis: 40%;
}

.booking-file__status{
  width: 122px;
  height: 20px;
  background-color: $color-22;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  color: $color-24;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 0 5%;
}

.booking-file__status-progress{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $color-3;
}

.booking-file__delete{
  display: flex;
  align-items: center;
  span{
    margin-left: 5px;
    color: #f24841;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
  }
  &:hover{
    span{
      text-decoration: none;
    }
  }
}

.booking-file__error{
  color: #f24841;
}

.form-booking{
  .card-header__link{
    background-color: white;
    margin: 0;
    color: $color-7;
    border-bottom: 1px solid $color-3;
    border-radius: 0;
    &.collapsed{
      border-bottom: 1px solid transparent;
    }
  }
  .accordion{
    margin-top: 16px;
    max-width: inherit;
  }
  .card{
    overflow: hidden;
    margin-bottom: 16px;
  }
  .card-body{
    background-color: white;
  }
}

.booking-textarea{
  width: 100%;
  margin-top: 21px;
  resize: none;
  outline: none;
  height: 175px;
  border: 1px solid $color-23;
  border-radius: 5px;
  padding: 15px;
  font-family: 'AvenirNextCyr';
  font-size: 16px;
  &::placeholder{
    color: #666;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
  }
}

.booking-agreement{
  margin-top: 30px;
}

.booking-agreement__text{
  font-size: 14px;
  line-height: 18px;
}

.booking-submit{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  input{
    height: 55px;
    width: 210px;
  }
}