.gallery-link__items{
  margin-bottom: 28px;
  display: flex;
  flex-flow: row wrap;
}

.gallery-link__item{
  border: 1.5px dotted $color-3;
  border-radius: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: black;
  margin-right: 10px;
  transition: .25s;
  margin-bottom: 10px;
  &:last-child{
    margin-right: 0;
  }
  &.active, &:hover{
    background-color: $color-3;
    color: white;
    border: 1.5px solid $color-3;
  }
}

.gallery-items{
  display: flex;
  flex-flow: row wrap;
}

.gallery-item{
  transition: .25s;
  border-right: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: 23%;
  &:nth-child(4n){
    margin-right: 0;
  }
  &:before{
    content: '';
    background-color: $color-27;
    transition: .25s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 8px;
  }
  &:after{
    content: url("../images/zoom.png");
    position: absolute;
    opacity: 0;
  }
  &:hover{
    transform: translateY(-7px);
    &:before, &:after{
      opacity: 1;
    }
  }
}