.main-container{
  margin-top: 45px;
  ul{
    list-style: none;
    li{
      position: relative;
      padding-left: 20px;
      margin-bottom: 4px;
      &:after{
        content: '\e929';
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        top: 5px;
        font-size: .8rem;
        color: $color-4;
      }
    }
  }
  ol{
    list-style: none;
    counter-reset: num;
    li{
      position: relative;
      padding-left: 20px;
      margin-bottom: 4px;
      &:after{
        content: counter(num) '. ';
        counter-increment: num;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 700;
        color: $color-3;
      }
    }
  }
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item{
  padding-left: 0 !important;
  &:after{
    display: none !important;
  }
}

.page-link{
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: $color-3;
  text-decoration: underline;
  line-height: 20px;
  &.active{
    background-color: $color-3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
}

.page-link__dots{
  text-decoration: none;
}

.sidebar{
  background-color: $color-8;
  border-radius: 14px;
}

.sidebar-title{
  border-bottom: 1px solid white;
  color: $color-7;
  font-size: 16px;
  font-weight: 700;
  padding: 25px;
}

.sidebar-description{
  padding: 25px;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.w-70{
  width: 62%;
  float: left;
  padding: 0 10px 40px 0;
  border-radius: 10px;
  img{
    padding: 4px;
    border-radius: 10px;
    border: 1.5px dotted $color-3;
  }
}

.footnote{
  width: 100%;
  border: 1px solid $color-21;
  border-radius: 15px;
  padding: 69px;
  text-align: center;
  position: relative;
  &:before{
    font-size: 1.4rem;
    content: '\e901';
    font-family: 'icomoon';
    position: absolute;
    top: 50px;
    left: 50px;
    color: $color-3;
  }
  &:after{
    font-size: 1.4rem;
    content: '\e901';
    font-family: 'icomoon';
    color: $color-3;
    position: absolute;
    bottom: 50px;
    right: 50px;
    transform: rotateX(180deg);
  }
}

.announcement{
  padding: 40px;
  background-color: $color-3;
  border-radius: 14px;
  color: white;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.announcement-title{
  color: white;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.announcement-description{
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  position: relative;
  z-index: 1;
}

.branches-item{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 330px;
  background-position: center;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &:hover{
    .branches-menu{
      opacity: 1;
    }
  }
}

.section-profile{
  background: url("../images/slider-1.jpg");
  margin-top: -45px;
  padding: 55px;
  h2{
    color: white;
  }
}

.branches-item__title{
  background-color: #30b6d7;
  border-radius: 4px;
  color: white;
  font-size: 21px;
  font-weight: 700;
  padding: 3px 10px;
  margin-right: 10px;
}

.main-container__branches{
  .container{
    max-width: 1600px;
    width: 100%;
  }
}

.branches-menu{
  position: relative;
  padding: 35px 65px 35px 35px;
  background-color: $color-8;
  border-radius: 11px;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.21);
  overflow: hidden;
  opacity: 0;
  transition: .25s;
  .index-star_4{
    top: -62px;
    right: -99px;
  }
  .index-star_5{
    top: -5px;
    right: -61px;
  }
}

.branches-menu__items{
  position: relative;
  z-index: 1;
}

.branches-menu__item{
  padding-left: 0 !important;
  &:after{
    display: none !important;
  }
}

.branches-menu__link{
  color: $color-26;
  font-size: 16px;
  font-weight: 500;

}