@media(min-width: 1280px)  {
  .index-services{
    .col-lg-4{
      flex: 0 0 19%;
      max-width: 19%;
    }
  }
}

@media(max-width: 1500px) {
  .index-slider {
    .icon-left {
      left: 10%;
    }
    .icon-right {
      right: 10%;
    }
  }
}

@media(max-width: 1300px) {
  .index-slider .icon-left {
    left: 2%;
  }
  .index-slider .icon-right {
    right: 2%;
  }
  .branch-label, .official {
    display: none;
  }
  .header-container__left {
    flex-basis: 35%;
  }
  .header-container__right {
    flex-basis: 65%;
  }
  .header-top {
    padding: 24px 10px 14px;
  }
  .header-info {
    padding: 0 10px 7px;
  }
  .header-menu__container {
    padding: 0 10px;
  }
}

@media(max-width: 1200px) {

  .booking-info{
    margin-left: 20px;
  }
  .numbers-pic {
    border-radius: 15px 0 0 15px;
  }
  .gallery-items {
    justify-content: center;
  }
  .gallery-item {
    flex-basis: 25%;
    margin: 0 15px 30px !important;
  }
  .footer-street {
    br {
      display: none;
    }
  }
  .container {
    width: 100%;
  }
  .header-menu__item:after {
    display: none;
  }
  .header-data {
    width: 160px;
  }
  .header-sbm__btn {
    width: 140px;
  }
  .header-form {
    flex-basis: 68%;
  }
  .header-link__container {
    &:last-child {
      margin-right: 0;
    }
  }
  .index-slider {
    .icon-left {
      left: 2%;
    }
    .icon-right {
      right: 2%;
    }
  }
  .booking-item__btn {
    width: 140px;
  }
}

@media(max-width: 991px) {
  .answer-flex{
    flex-direction: column;
  }
  .index-reviews__bottom .answer-form{
    max-width: 100%;
  }
  .branches-item{
    margin: 0 -15px;
    width: auto;
  }
  .answer-flex__right{
    margin-top: 15px;
  }
  .vip-container{
    display: none !important;
  }
  .accordion{
    margin: 0 -15px;
    .card-header__link{
      height: auto;
      border-radius: 0;
      font-size: 13px;
      text-align: left;
      line-height: 18px;
    }
  }
  .booking-container{
    margin: 0 -15px 10px;
    border: none;
    border-radius: 0;
    border-top: 1.5px dotted #0080c9;
    border-bottom: 1.5px dotted #0080c9;
    padding: 10px 15px;
  }
  .booking-container h3{
    padding-bottom: 0;
    line-height: 24px;
  }
  .booking-item{
    flex-basis: 49%;
    margin-right: 2%;
  }
  .booking-container__title{
    flex-direction: column;
    align-items: flex-start;
    .booking-check{
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  .booking-check{
    margin-left: 0;
  }
  .card{
    border-radius: 0;
    border: none;
    border-bottom: 1.5px dotted $color-3;
  }
  .card-body{
    padding: 10px 15px;
  }
  .booking-info{
    margin-left: 0;
  }
  .booking-item__mini{
    flex-basis: 32%;
    margin-right: 2% !important;
    &:last-child{
      margin-right: 0 !important;
    }
  }
  .booking-container__data{
    flex-direction: column;
    align-items: flex-start;
  }
  .booking-file__left{
    padding: 10px;
  }
  .booking-file__right{
    flex-basis: 51%;
    margin-right: 0;
  }
  .price-table__tr:first-child{
    padding-bottom: 10px;
  }
  .programs-items {
    margin: 0 -10px;
    .index-program__item {
      flex-basis: 30.7%;
    }
  }
  .scroll-table {
    padding: 5px;
  }
  .reviews-program__container {
    margin-top: 30px;
  }
  .number-title__mobile {
    display: block;
  }
  .number-content, .number-info, .number-facilities {
    border-radius: 0;
  }
  .header-submenu__item-dop:after {
    transform: rotate(0);
  }
  .scroll-table__tr:first-child {
    padding: 0 13px 10px;
  }
  .numbers-pic, .numbers-container {
    border-right: 0;
  }
  .contact-number__left {
    margin: 0 -15px;
    border-radius: 0;
    padding: 15px;
    width: auto;
  }
  .contact-number__right {
    border: none;
    background-color: $color-8;
    margin: 0 -15px;
    padding: 0 15px 15px;
  }
  .schedule {
    margin: 0 -15px;
    width: auto;
    padding: 15px 15px 0 15px;
    flex-flow: row wrap;
  }
  .gallery-items {
    justify-content: space-between;
  }
  .schedule-item {
    flex-basis: 50%;
    margin-bottom: 15px;
  }
  .gallery-item {
    flex-basis: 31%;
    margin: 0 0 30px !important;
  }
  .index-slider {
    .slick-dots {
      display: none !important;
    }
  }
  .contact-personal__item {
    flex-basis: 25%;
  }
  .index-about__container {
    border-radius: 0;
    border: none;
  }
  .contact-map__container {
    width: auto;
    padding: 0 15px;
  }
  .index-about__top, .index-about__bottom {
    padding: 15px;
  }
  .maps-container {
    margin-top: 40px;
  }
  .index-about__container:before {
    display: none;
  }
  .map-container {
    border-radius: 0;
    margin: 0 -15px;
    height: 300px;
    width: auto;
  }
  .get-to {
    background-color: white;
    padding: 0;
    margin-top: 40px;
  }
  .get-to__item {
    margin: 0 -15px;
    padding: 0 15px 10px;
    .index-star_4, .index-star_5 {
      display: none;
    }
  }
  .contact-form {
    margin: 0 -15px;
    border-radius: 0;
    padding: 20px;
  }
  .program-form .contact-form {
    padding: 20px;
    margin-top: 0;
    .program-flex{
      margin: 0;
    }
  }
  .contact-form:before {
    display: none;
  }
  header {
    &.active {
      .header-mobile__top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 5;
        padding: 0 10px;
        box-shadow: 1px 1px 4px 0px #888484;
      }
      .header-logo__text {
        display: none;
      }
      .header-logo {
        align-items: flex-start;
        height: 75px;
      }
      .branch-select {
        display: none;
      }
    }
  }
  .header-submenu, .header-submenu__three {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    background-color: transparent;
  }
  .header-submenu__link, .header-submenu__link-dop {
    color: white !important;

  }
  .mm-listitem {
    border-color: white !important;
  }
  .mm-btn_prev:before {
    border-color: white !important;
  }
  .footer-street {
    margin-bottom: 20px;
  }
  .mm-navbar__title {
    color: white !important;
  }
  .mm-menu {
    background-color: $color-6 !important;
  }
  .mm-btn_next:after {
    border-color: white !important;
  }
  .mm-navbar {
    border-color: white;
  }
  .mm-listitem .mm-btn_next:before {
    border-color: white !important;
  }
  .header-menu__items {
    width: auto;
  }
  .header-menu__link {
    color: white !important;
  }
  .header-menu__item-submenu .header-menu__link:after {
    content: none;
    height: auto;
  }
  .header-menu__item {
    height: auto;
    border-bottom: 1px solid white;
  }
  .header-top, .header-info, .header-armor {
    display: none;
  }
  .header-mobile {
    display: block;
    padding: 0 10px;
  }
  .official {
    display: block;
    margin-left: 0;
    padding-bottom: 0;
    margin-right: 20px;
    font-size: 13px;
  }
  .btn-booking {
    width: 134px;
  }
  .btn {
    padding: 10px 17px;
    font-size: 11px;
  }
  .header-btn {
    font-size: 9px;
  }
  .index-about__container {
    border-radius: 15px 15px 0 0;
  }
  .index-video__item {
    border-radius: 0 0 15px 15px;
  }
  .btn-booking__price {
    width: 160px;
  }
  .header-logo__title {
    font-size: 17px;
    color: $color-3;
    font-weight: 700;
    line-height: 19px;
  }
  .header-mobile__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-mobile__top-right {
    display: flex;
    align-items: center;
  }
  .hamburger {
    margin-left: 15px;
    cursor: pointer;
    .line {
      width: 29px;
      height: 4px;
      background-color: $color-3;
      display: block;
      margin: 6px auto;
      transition: all 0.3s ease-in-out;
    }
    &.active {
      .line {
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
  .branch-select__default {
    width: auto;
    height: auto;
    background-color: transparent;
    text-decoration: underline;
    &.active {
      & + .branch-select__items-hidden {
        overflow: visible;
      }
    }
  }
  .branch-select__items-hidden {
    top: 100%;
  }
  .branch-select {
    box-shadow: none;
  }
  .btn {
    height: 44px;
  }
  .header-mobile__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .header-mobile__bottom-left {
    display: flex;
    align-items: center;
  }
  .header-mobile__bottom-right {
    display: flex;
    align-items: center;
  }
  .header-phone__link {
    font-size: 16px;
  }
  .header-phone__link-fixed{
    display: none;
  }
  header.active{
    .header-phone__link-fixed{
      display: inline-block;
    }
  }
  .index-program__items, .procedure-items, .recommendations-procedure__items {
    .slick-list {
      padding: 20px 10px 0;
    }
    .slick-arrow {
      top: 50%;
      background-color: transparent !important;
      color: $color-3;
      left: 0;
      width: 22px;
      height: 22px;
      &.icon-left {
        left: -15px;
      }
      &.icon-right {
        left: auto;
        right: -15px;
      }
    }
  }
  .procedure-items {
    .slick-list {
      padding-top: 0;
    }
  }
  .procedure-item__title {
    max-width: 270px;
  }
  .index-price__info {
    flex-flow: row wrap;
  }
  .index-price__info-title {
    flex-basis: 30%;
  }
  .index-price__info-items {
    flex-basis: 70%;
  }
  .index-price__info-btn {
    flex-basis: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .index-program__item-link {
    display: block;
    color: $color-3;
    text-decoration: underline;
  }
  .booking-item:hover .booking-item__content {
    transform: translateY(0) !important;
  }
  .booking-item__hidden {
    position: relative !important;
    bottom: 0 !important;
    flex-direction: row !important;
  }
  .index-title {
    font-size: 24px;
  }
  .booking-item__content {
    padding: 20px;
  }
  .booking-item__hidden {
    padding: 10px 20px;
  }
  .booking-item__title, .booking-item__price {
    font-size: 18px;
  }
  .action-container {
    padding: 30px;
  }
}

@media(max-width: 767px) {
  .w-70{
    width: 100%;
    padding: 0 0 10px 0;
    float: none;
  }
  .footnote{
    padding: 20px;
    &:before{
      top: 10px;
      left: 10px;
    }
    &:after{
      bottom: 10px;
      right: 10px;
    }
  }
  .announcement{
    padding: 20px;
  }
  .index-video{
    display: none !important;
  }
  .index-video__absolute{
    position: relative;
    bottom: 0;
    left: 0;
    color: black;
    text-align: center;
  }
  .index-video__link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .category-table-date .category-container__table-hidden {
    position: absolute;
    top: 100%;
    left: -20px;
    overflow: hidden;
    width: 123%;
    height: 0;
    transition: .25s;
    background-color: white;
    box-shadow: 0 5px 21px rgba(0, 0, 2, .21);
  }
  .category-container__table-th:nth-child(1){
    flex-basis: 18%;
  }
  .price-table__th{
    font-size: 14px;
  }
  .active-element {
    display: block !important;
    color: $color-7;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px dashed;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-top: -1px;
    cursor: pointer;
    &:before{
      content: '\e924';
      position: absolute;
      right: 0;
      top: 0;
      font-size: .4rem;
      color: $color-3;
      font-family: 'icomoon';
      background: white;
      padding-left: 4px;
    }
  }
  .category-container__table-height{
    display: flex;
    flex-direction: column;
    .price-table__th{
      padding: 5px 10px;
      line-height: 20px;
    }
  }
  .price-table__td{
    display: none;
    &:first-child{
      display: block;
      flex-basis: 60%;
    }
    &.active{
      display: block;
      flex-basis: 200px;
    }
  }
  .price-table__th:nth-child(1){
    flex-basis: 60%;
  }
  .price-table__tr{
    justify-content: space-between;
  }
  .category-table-date{
    flex-basis: 200px;
    width: 130px;
    position: relative;
  }
  .programs-items {
    margin: 0 -10px;
    .index-program__item {
      flex-basis: 47%;
    }
  }
  .leave-container{
    margin-top: 0;
    padding: 40px 0;
  }
  .recommendations-procedure{
    margin-top: 40px;
  }
  .program-photo{
    padding-top: 40px;
  }
  .scroll-table {
    width: 667px;
  }
  .accordion{
    &:before{
      content: "Для более удобного просмотра таблицы переверните телефон горизонтально";
      display: flex;
      background-image: url(../images/rotate-phone.png);
      background-size: 45px;
      margin-bottom: 10px;
      font-size: 14px;
      background-position: left center;
      background-repeat: no-repeat;
      padding: 10px 10px 10px 50px;
    }
  }
  .scroll-table__container {
    width: 100%;
    overflow: auto;
    padding-top: 30px;
    position: relative;
    &:after {
      content: '\e924';
      font-family: 'icomoon';
      position: absolute;
      right: 0;
      top: 5px;
      font-size: .7rem;
      color: $color-3;
      transform: rotate(-90deg);
    }
    &:before{
      content: "Для более удобного просмотра таблицы переверните телефон горизонтально";
      display: flex;
      background-image: url(../images/rotate-phone.png);
      background-size: 45px;
      margin-bottom: 10px;
      font-size: 14px;
      background-position: left center;
      background-repeat: no-repeat;
      padding: 10px 10px 10px 50px;
    }
  }
  .contact-personal__item {
    flex-basis: 39%;
  }
  .footer-filial {
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .footer-filial__right {
    margin-left: 0;
    margin-top: 12px;
  }
  .index-slider__container {
    margin: 0 -15px;
    border-radius: 0;
    padding: 20px 40px;
    height: 211px;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .footer-filial__left span {
    line-height: 20px;
  }
  .footer-phone {
    line-height: 20px;
  }
  .footer-bottom {
    flex-direction: column;
    width: 100%;
    .btn {
      width: 100%;
    }
    .btn-light {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
  .index-slider__title {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 22px;
  }
  .index-slider__description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer-link {
    display: block;
    &:first-child {
      margin-top: 10px;
    }
  }
  .russian {
    border-radius: 0;
    margin: 0 -15px;
  }
  .index-slider__item {
    height: 211px;
    align-items: flex-end;
    margin-bottom: 211px;
    position: relative;
  }
  .contraindications {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
  }
  footer {
    margin-top: 20px;
    padding: 20px 0;
  }
  .index-slider {
    .slick-arrow {
      width: 10px;
      background-color: transparent;
      color: white;
      bottom: auto;
      top: 80px;
      &.icon-left {
        left: 2%;
      }
      &.icon-right {
        right: 2%;
      }
    }
  }
  .index-services {
    margin: 30px 0;
  }
  .services-index {
    margin-top: 50px;
  }
}

@media(max-width: 600px) {
  .slick-dots{
    bottom: -42px;
    li{
      &:before{
        background: $color-3;
      }
    }
  }
  .form-download{
    margin-top: 20px;
  }
  .contact-form__bottom{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
  }
  .category-table-date, .price-table__td.active {
    flex-basis: 130px;
  }
  .branches-menu{
    opacity: 1 !important;
  }
  .booking-item__radio-container{
    padding-left: 17px;
  }
  .booking-container__data{
    .booking-item__date{
      margin-top: 0;
      width: 100%;
      flex-direction: column;
    }
    .arrow-form{
      display: none;
    }
    .header-data{
      margin-top: 10px;
      width: 100%;
    }
  }
  .booking-info{
    width: 100%;
    br{
      display: none;
    }
  }
  .booking-file{
    margin-top: 10px;
    flex-direction: column;
  }
  .booking-file__right{
    margin-top: 20px;
    width: 100%;
  }
  .booking-top{
    margin: 15px 0;
  }
  .booking-top__description{
    font-size: 15px;
    line-height: 20px;
    br{
      display: none;
    }
  }
  .booking-items{
    flex-direction: column;
    .booking-item{
      width: 100%;
      margin: 10px 0 0;
    }
  }

  h3{
    font-size: 18px;
  }
  .recommendations-procedure__item-title{
    padding-top: 10px;
  }
  .scroll-table {
    width: 600px;
  }
  h1, .h1{
    & + .program-flex{
      flex-direction: row;
    }
  }
  .program-flex{
    flex-direction: column;
    .contact-form__item{
      width: 100%;
      margin: 0 0 10px;
    }
    .contact-form__sbm{
      width: 100%;
    }
    .contact-form__submit.contact-form__submit{
      width: 100%;
      margin-right: 0;
    }
  }
  .profile {
    padding: 40px 0;
  }
  .program-flex {
    margin: 20px 0;
  }
  .reviews-program__container {
    margin: 30px -15px 0;
    border-radius: 0;
    .slick-dots {
      padding-left: 0;
      justify-content: center;
    }
  }
  .reviews-program__item-rating {
    flex-shrink: 0;
  }
  .procedure {
    padding: 30px 0;
    margin-top: 30px;
  }
  .reviews-program__item {
    border-radius: 0;
  }
  .number-title__mobile {
    display: block;
  }
  .reviews-program__item-top {
    padding: 20px;
  }
  .reviews-program__item-text {
    padding: 20px 20px 70px;
  }
  .reviews-program__absolute {
    display: none;
  }
  .number-slider {
    margin: 0 -15px;
    border-radius: 0;
    .slick-arrow {
      display: none !important;
    }
  }
  .number-content, .number-info, .number-facilities {
    margin: 0 -15px;
  }
  .number-content__top, .number-description, .number-info__pay, .number-facilities {
    padding: 15px;
  }
  .number-facilities {
    flex-direction: column;
    border: none;
    border-bottom: 1px solid $color16;
  }
  .number-facilities__column {
    margin-bottom: 15px;
    h5 {
      margin-bottom: 10px !important;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .number-slider .slick-dots {
    bottom: 10px;
  }
  .number-info__top {
    display: flex;
    border-bottom: 1px solid #b0e2ff;
  }
  .number-info__time {
    flex-basis: 50%;
    padding: 15px 0;
  }
  .numbers-pic {
    margin: 0 -15px;
    display: block;
    width: auto;
    border-radius: 0;
  }
  .numbers-container {
    margin: 0 -15px;
  }
  .numbers-content {
    padding: 15px;
  }
  .numbers-title {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 25px;
  }
  .numbers-description {
    margin-bottom: 10px;
  }
  .numbers-price {
    font-size: 18px;
  }
  .numbers-link__container {
    padding: 15px;
  }
  h1, .h1 {
    font-size: 30px;
    line-height: 36px;
  }
  h2, .h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .pagination {
    margin-top: 20px;
  }
  .gallery-link__items {
    margin-bottom: 10px;
  }
  .gallery-item {
    margin: 0 0 10px !important;
    flex-basis: 48.5%;
  }
  .branch-select__default span {
    width: 136px;
    overflow: hidden;
  }
  .header-mobile__bottom {
    flex-direction: column;
  }
  .header-mobile__bottom-left {
    justify-content: space-between;
    width: 100%;
  }
  .header-mobile__bottom-right {
    margin-top: 10px;
    .btn-booking {
      margin-left: 0;
      width: 45%;
      font-weight: 500;
    }
    .btn-booking__price {
      width: 55%;
      font-weight: 500;
    }
  }
  .index-about__container {
    border: none;
    &:before {
      content: none;
    }
  }
  .index-about__top {
    padding: 0;
    border-bottom: 0;
  }
  .index-about__bottom {
    padding: 20px 0 30px;
    .btn {
      width: 100%;
    }
  }
  .index-video__item {
    padding: 20px;
    height: 300px;
    border-radius: 8px;
  }
  .index-video {
    .slick-arrow {
      background-color: transparent;
      width: 15px;
      color: white;
      bottom: 10px;
    }
  }
  .index-description {
    border-radius: 0;
    margin: 0 -15px;
    padding: 15px;
  }
  .index-price__info {
    flex-direction: column;
  }
  .index-price__info-items {
    flex-direction: column;
    margin-top: 15px;
  }
  .index-price__info-btn {
    flex-direction: column;
    width: 100%;
    .btn {
      width: 100%;
    }
    .btn-heavy {
      margin-top: 15px;
      margin-left: 0;
    }
  }
  .index-life {
    margin-top: 0;
    background-color: transparent;
    padding: 40px 0 20px;
  }
  .booking-item {
    border-radius: 0;
    margin: 0 -15px;
  }
  .news-item__pic {
    img {
      width: 100%;
    }
  }
  .news-item__content {
    padding: 15px;
  }
  .news-item__link {
    padding: 15px;
  }
  .news-item {
    margin: 0 -15px 1.5rem;
  }
  .booking-item__content, .leave-container .booking-item__content {
    padding: 15px;
  }
  .booking-item__hidden, .leave-container .booking-item__hidden {
    padding: 10px 15px;
  }
  .action-container {
    margin: 0 -15px;
    height: auto;
    flex-direction: column;
    border-radius: 0;
  }
  .action-a {
    text-align: center;
    margin-bottom: 12px;
    display: block;
    width: 100%;
  }
  .action-content {
    margin: 0;
    position: relative;
    z-index: 1;
    br {
      display: none;
    }
  }
  .action-title {
    text-align: center;
    margin-bottom: 12px;
  }
  .action-btn {
    margin: 0 auto;
  }
  .services-index__item {
    height: 210px;
    margin: 0 -15px 10px;
    background-size: cover;
    border-radius: 0;
  }
}

@media(max-width: 500px) {
  .branches-item{
    flex-direction: column;
    align-items: flex-start;
  }
  .branches-item__title{
    margin: 0 0 20px;
    font-size: 18px;
  }
  .reviews-item__top{
    padding: 15px;
  }
  .reviews-item__top .reviews-program__item-rating{
    padding: 3px 5px;
    font-size: .8rem;
  }
  .answer-container{
    padding: 15px;
  }
  .index-reviews__bottom{
    padding: 15px 15px 50px;
  }
  .answer-flex{
    flex-direction: column;
  }
  .answer-flex__right{
    margin-top: 20px;
  }
  .answer-form__top{
    flex-direction: column;
  }
  .answer-item{
    margin-bottom: 10px;
  }
  .answer-form__bottom{
    flex-direction: column;
    margin-top: 0;
  }
  .answer-item__textarea{
    width: 100%;
  }
  .answer-form__bottom-right{
    margin: 10px auto 0;
  }
  .index-reviews__flex{
    bottom: 15px;
  }
  .answer-link{
    left: 15px;
    bottom: 15px;
  }
  .btn-reviews__btn{
    position: relative;
    top: 0;
    margin-top: 10px;
  }
  .reviews-item{
    margin: 0 -15px 10px;
  }
  .programs-items {
    margin: 0 -10px;
    .index-program__item {
      flex-basis: 100%;
    }
  }
  .contact-number__left {
    flex-direction: column;
    .contact-number__left-column {
      &:last-child {
        margin-top: 20px;
      }
    }
  }
  .contact-form__flex {
    display: flex;
    flex-direction: column;
    .contact-form__item {
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  .contact-form__btn {
    flex-direction: column;
  }
  .contact-form__submit {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .section-link{
    height: 140px;
    border-radius: 0;
    margin: 0 -15px;
    width: auto;
  }
  .section-link__img{
    height: 100%;
    img{
      height: 100%;
    }
  }
  .section-link__title{
    font-size: 22px;
    line-height: 28px;
    padding-left: 30px;
  }
  .reviews-pic__items{
    padding: 0 15px 20px;
  }
  .reviews-pic__item{
    flex-basis: 49%;
    margin: 0 0 10px;
  }
  .reviews-pic__items{
    justify-content: space-between;
  }
}

@media(max-width: 400px) {
  .schedule {
    flex-direction: column;
    h4 {
      margin-bottom: 20px;
    }
  }
  .contact-personal__item {
    flex-basis: 100%;
  }
}

@media(max-width: 350px) {

  .numbers-link__container {
    flex-direction: column-reverse;
  }
  .numbers-link {
    margin-top: 20px;
  }
  .header-logo__text {
    display: none;
  }
  h1 + .program-flex, .h1 + .program-flex{
    display: block;
    .numbers-link{
      margin-left: 0;
    }
  }
  .number-content__top .number-flex {
    flex-direction: column;
    .btn {
      margin-right: 0;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .branch-select__default::before {
    top: 12px;
  }
  .header-data::before {
    top: 12px;
  }
  .header-menu__item::after {
    top: 20px;
  }
  .index-services__title, .contact-personal__name, .contact-personal__person {
    display: inline-table;
  }
  .index-price__info-item {
    flex-basis: 47%;
  }
  .gallery-item::after {
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -22px;
  }
  .slick-dots li.slick-active::before {
    top: 2px;
    left: 2px;
  }
  .booking-items .booking-item{
    flex-basis: inherit;
    width: 32.5%;
  }
}