.news-item__content{
  padding: 32px 29px;
  background-color: white;
  display: block;
}

.news-item{
  border: 1px solid #e8e8e8;
  display: block;
  transition: .25s;
  margin-bottom: 30px;
  &:hover{
    transform: translateY(-10px);
  }
}

.news-item__flex{
  display: flex;
  margin-bottom: 10px;
}

.news-item__date{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  color: $color-3;
  padding-right: 5px;
}

.news-item__title{
  flex-basis: 75%;
  font-size: 18px;
  font-weight: 700;
}

.news-item__date-number{
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.news-item__date-text{
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.news-item__link{
  border-top: 1px solid #e8e8e8;
  background-color: $color-8;
  padding: 26px 29px;
  display: flex;
  align-items: center;
  width: 100%;

  color: $color-3;
  span{
    text-decoration: underline;
  }
  &:after{
    content: '\e90e';
    font-family: 'icomoon';
    margin-left: 22px;
    color: $color-3;
  }
}

.news-item__description {
  line-height: 23px;
}

.news-item__bg{
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover{
    color: white;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 201, 0.9);
  }
  .news-item__content, .news-item__link{
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
  .news-item__date{
    color: white;
  }
  .news-item__link{
    color: white;
    border-top: 1px solid white;
    &:after{
      color: white;
    }
  }
}