.accordion{
  max-width: 970px;
  margin: 0 auto;
}

.card{
  border: 1.5px dotted #0080c9;
  border-radius: 14px;
  margin-bottom: 25px;
}

.card-header__link{
  margin: -2px;
  padding: 25px 58px;
  background-color: $color-3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  height: auto;
  text-transform: none;
}

.collapse-icon{
  width: 35px;
  height: 35px;
  background-color: $color-8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  &:before{
    content: '-';
    font-size: 30px;
    font-weight: 700;
    color: $color-3;
  }
}

.collapsed{
  .collapse-icon{
    &:before{
      content: '+';
    }
  }
}

.card-body{
  padding: 33px 47px;
}

.price-table__tr {
  padding: 24px 13px;
  display: flex;
  align-items: flex-start;
  &:first-child {
    padding: 0 13px 22px;
  }
  &:nth-child(2n) {
    padding: 10px 13px;
    background-color: $color-8;
  }
}

.price-table__th {
  color: $color-3;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  &:nth-child(1) {
    flex-basis: 40%;
  }
  &:nth-child(2) {
    flex-basis: 19%;
  }
  &:nth-child(3) {
    flex-basis: 28%;
  }
  &:nth-child(4) {

  }
}

.category-table-date{
  flex-basis: 60%;
}

.active-element {
  display: none !important;
}

.category-container__table-height {
  display: flex;
  .price-table__th{
    &:first-child{
      flex-basis: 32%;
    }
    &:nth-child(2){
      flex-basis: 46%;
    }
    &:nth-child(3){
      flex-basis: 20%;
      span{
        border-bottom: 1px dashed;
      }
      &:hover{
        .vip-container{
          display: block;
        }

      }
    }
  }
}

.price-table__td {
  font-size: 15px;
  line-height: 18px;
  &:nth-child(1) {
    flex-basis: 40%;
    padding-right: 4%;
  }
  &:nth-child(2) {
    flex-basis: 19%;
  }
  &:nth-child(3) {
    flex-basis: 28%;
  }
  &:nth-child(4) {

  }
  a{
    text-decoration: underline;
    color: $color-3;
  }
}


.vip-container{
  position: absolute;
  top: 0;
  left: 110%;
  background-color: $color-3;
  border-radius: 4px;
  color: white;
  width: 222px;
  padding: 13px;
  font-size: 12px;
  line-height: 15px;
  display: none;
}

.vip-container__absolute{
  position: absolute;
  left: 4px;
  top: 1px;
}