.btn-reviews__btn {
  position: absolute;
  right: 0;
  top: 12px;
}

.index-reviews__flex {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.index-reviews__content-container {
  span {
    display: none;
  }
  &.active {
    span {
      display: inline;
    }
  }
}

.index-reviews__content {
  display: inline;
}

.rating {
  float:left;
  position: relative;
}

.rating:not(:checked) > input {
  position:absolute;
  top:-10px;
  clip:rect(0,0,0,0);
}

.contact-form__item-error{
  position: relative;
  overflow: visible !important;
}

.contact-form__item-error .error {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  z-index: 2;
  bottom: 110%;
  left: 2%;
  display: block;
  width: 96%;
  padding: 2px 4px;
  color: white;
  border-radius: 5px 5px 5px 0;
  background-color: #f24841;
  box-shadow: 0.3px 2px 3.9px 0.1px rgba(231, 55, 55, .2);
  &:before{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid #f24841;
    border-left: 5px solid #f24841;
  }
}

.contact-form__item-error input{
  box-shadow: 0.3px 2px 3.9px 0.1px rgba(231, 55, 55, .2);
  border: 1px solid #f24841;
  background-color: white;
}

.rating:not(:checked) > label {
  float:right;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  margin: 0 5px;
  overflow:hidden;
  white-space:nowrap;
  width: 25px;
}

.rating:not(:checked) > label:before {
  content: '\e92b';
  color: #2eab4c;
  font-size: 1.5rem;
  font-family: 'icomoon';
}

.rating > input:checked ~ label:before {
  content: '\e92a';
}

.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
  content: '\e92a';
}

.index-reviews__bottom {
  position: relative;
  .answer-form{
    max-width: 77%;
    .answer-form__bottom-right .btn{
      background-color: $color-3;
      color: $color-4;
    }
    .check-container{
      border: 1px solid $color-3;
      & input:checked{
        & + span:before{
          font-family: 'icomoon';
          content: '\e92f';
          color: #2eab4c;
        }
      }
    }
    .check{
      label{
        color: $color-3;
      }
    }
  }
}

.index-reviews__link {
  display: flex;
  align-items: center;
  color: $color-2;
  border-bottom: 1px dashed;
  position: relative;
  cursor: pointer;
  &:after {
    position: absolute;
    right: -15px;
    top: 10px;
    font-family: 'icomoon';
    font-size: .3rem;
    margin-left: 6px;
    content: '\e924';
    transition: .25s;
    transform: rotate(0deg);
    color: $color-3;
  }
  &.active {
    &:after {
      transform: rotate(180deg);
    }
  }
}

.reviews-item {
  background-color: $color-8;
  border-radius: 14px;
  margin-bottom: 30px;
}

.reviews-item__top {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid white;
  .reviews-program__item-rating {
    font-size: 1.2rem;
    padding: 8px 15px;
    border-radius: 25px;
  }
}

.reviews-item__top-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.reviews-item__date {
  background-color: $color-1;
  border-radius: 10px;
  padding: 2px 5px;
  color: white;
  font-size: 12px;
}

.reviews-item__name {
  color: $color-7;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}

.index-reviews__bottom {
  padding: 20px 50px 60px;
}

.reviews-pic__items {
  display: flex;
  flex-flow: row wrap;
  padding: 0 50px 20px;
}

.reviews-pic__item {
  margin: 5px;
  flex-basis: 24%;
  border-radius: 14px;
  overflow: hidden;
  img {
    width: 100%;
  }
  &:hover {
    transform: translateY(-5px);
  }
}

.answer-container {
  background-color: $color-1;
  margin: 5px;
  padding: 20px 70px;
  border-radius: 14px;
}

.answer-pic {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  overflow: hidden;
  flex-shrink: 0;
}

.answer-container__top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.answer-info {
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  margin-left: 20px;
}

.answer-description {
  color: white;
  margin-bottom: 20px;
}

.answer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.answer-flex__right {
  display: flex;
  align-items: center;
  color: white;
  flex-shrink: 0;
}

.answer-flex__left {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.answer-flex__icon {
  width: 20px;
  height: 20px;
  background-color: $color-17;
  border: 1px solid $color-17;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  &:before {
    content: '+';
    color: $color-1;
    font-size: 1.2rem;
  }
}

.answers-link {
  cursor: pointer;
  color: white;
  font-weight: 600;
  border-bottom: 1px dashed;
}

.answer-link {
  position: absolute;
  bottom: 25px;
  color: $color-2;
  border-bottom: 1px dashed;
  left: 50px;
  cursor: pointer;
}

.answer-form {
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  display: none;
}

.answer-form__top {
  display: flex;
  justify-content: space-between;
}

.answer-item {
  flex-basis: 49%;
}

.answer-item__input {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  border: 1px solid transparent;
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  &::placeholder{
    color: #666 !important;
    font-family: 'AvenirNextCyr';
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
  }
}

.answer-form__bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.answer-item__textarea{
  flex-basis: 69%;
  height: 110px;
  textarea{
    font-size: 16px;
    height: 100%;
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    color: black;
    font-family: 'AvenirNextCyr';
    &::placeholder{
      color: #666 !important;
      font-family: 'AvenirNextCyr';
      font-size: 16px;
      font-weight: 300;
      font-style: italic;
    }
  }
}

.answer-form__bottom-right{
  flex-direction: column;
  display: flex;
  flex-basis: 29%;
  .check{
    margin-top: 10px;
  }
  .btn{
    color: $color-1;
  }
}

.answer-date{
  font-weight: 400;
  font-size: 13px;
}

.answer-item__elem{
  margin-top: 25px;
  border-left: 1px solid white;
  padding-left: 10px;
}

.reviews-form{
  margin-top: 0;
  &:before{
    display: none;
  }
  .contact-form__title{
    text-align: left;
    margin-bottom: 5px;
  }
  p{
    color: white;
    margin-bottom: 15px;
  }
  .contact-form__btn{
    flex-direction: column;
    align-items: center;
  }
  .check{
    display: flex;
    align-items: center;
    margin-top: 10px;
    br{
      display: none;
    }
  }
  .check-container{
    flex-shrink: 0;
  }
}

.form-rating__label {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}

.contact-form__bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-rating{
  display: flex;
  align-items: center;
  span{
    &:before{
      color: $color-4;
    }
  }
}

.form-download{
  position: relative;
  input{
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.form-download__container{
  width: 270px;
  height: 65px;
  border: 1px dashed #e1f2f6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 22px 15px;
  img{
    flex-shrink: 0;
  }
}

.form-download__text{
  margin-left: 15px;
  color: white;
  line-height: 22px;
}

.form-download__title{
  font-size: 16px;
  font-weight: 700;
}

.form-download__description{
  font-size: 12px;
  font-weight: 300;
}