/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow{
    position: absolute;
    border-radius: 5px;
    top: 46%;
    left: 19%;
    width: 50px;
    height: 50px;
    background-color: $color-4;
    color: $color-3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 1;
    cursor: pointer;
    transition: .25s;
    &:hover{
        background-color: $color-5;
    }
}

.icon-left{
    transform: rotate(180deg);
}

.icon-right{
    left: auto;
    right: 20%;
}

.slick-dots{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 42px;
    width: 100%;
    list-style: none;
    li{
        cursor: pointer;
        border: 1px solid transparent;
        transition: .25s;
        border-radius: 50%;
        margin: 0 15px;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:before{
            position: absolute;
            transition: .25s;
            border-radius: 50%;
            content: '';
            width: 15px;
            height: 15px;
            background-color: white;
            display: block;
        }
        button{
            opacity: 0;
            cursor: pointer;
        }
        &.slick-active{
            border: 1px solid white;
            border-spacing: 1px;
            width: 27px;
            height: 27px;
            &:before{
                background-color: $color-3;
                width: 21px;
                height: 21px;
            }
        }
    }
}

.index-video{
    .slick-arrow{
        top: auto;
        bottom: 36px;
        right: 40px;
        &.icon-left{
            left: auto;
            right: 92px;
        }
    }
}

